[gcode_macro PRINT_START]
#####################################################################
#			Be sure to set these before your first print!			#
#			This print start will only work if you have a			#
#			klicky probe and it is set as the z virtual endstop!	#
#####################################################################
variable_safe_y: 160                                                  								  		# How far back you can go before risking attaching to klicky
variable_x_park: 10																							# This is the x location you want the toolhead to be at
variable_y_park: 0																							# This is the y location you want the toolhead to be at
variable_z_park: 100																						# This is the z height you want the toolhead to be at to be able to reach under it and remove the probe
variable_bed_time: 300																						# This is the time for the heatbed to heat soak in secconds (300 is 5 minutes)
variable_bed_chamber: 90																					# This is the temp of the bed at which the chamber will preheat first
variable_chamber_temp: 50																				    # This is the desired chamber temp before print start
variable_beep: True																							# Wether you have a beeper or not
gcode:
    
	# Parameters used throughout this macro
	
	{% set BED_TEMP = params.BED_TEMP | default(60) | float %}	 											# Retrieve the bed temp from gcode
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP | default(200) | float %}									# Retrieve the extruder temp from gcode
	{% set all_points = printer.exclude_object.objects | map(attribute='polygon') | sum(start=[]) %}  		# Gather all object points
    {% set bed_mesh_min = printer.configfile.settings.bed_mesh.mesh_min %}                              	# Get bed mesh min from printer.cfg
    {% set bed_mesh_max = printer.configfile.settings.bed_mesh.mesh_max %}                              	# Get bed mesh max from printer.cfg
    {% set probe_count = printer.configfile.settings.bed_mesh.probe_count %}                            	# Get probe count from printer.cfg
    {% set max_probe_point_distance_y = ( bed_mesh_max[1] - bed_mesh_min[1] ) / (probe_count[1] - 1)  %}	# Determine max probe point distance
    {% set y_max = all_points | map(attribute=1) | max | default(bed_mesh_max[1]) %}
    {% set printer_max_y = printer.toolhead.axis_maximum.y %}
    {% set printer_max_x = printer.toolhead.axis_maximum.x %}

    # Check to see if we need to remove the probe and notify that it will need removed
    
    {% if y_max > safe_y%}
        Respond MSG="Probe will need removed after homing rutine!"
        {% if beep %}
            SHORTBEEPS
        {% endif %}
    {% endif %}

    # Turn on bed fans for chamber heating if bed temp above threshold

    {% if BED_TEMP >= bed_chamber %}
        SET_FAN_SPEED FAN=3DPF SPEED=1
        SET_FAN_SPEED FAN=bed_fan SPEED=1.0
    {% endif %}
    
	# Preheat the heat bed and prepate hotend to be heated
	
	SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED_TEMP}                            			 		# Start heating bed
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150                            			 		        # Preheat extruder
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP}                                			  		# Wait for bed to reach target temp

    # Clear bed mesh to prevent issues from happening during homing
    
    BED_MESH_CLEAR																							# Clear the bed mesh
    
	# Preheat chamber if needed and if not heat soak bed

    {% if BED_TEMP >= bed_chamber %}
        RESPOND MSG="Initial home to prepare for chamber preheat!"
        G28		    																						# Home X, Y, and Z axes
        Respond MSG="Chamber will now preheat to {chamber_temp}c"
        G90	    																							# Absolute positioning
        G0 X{printer_max_x / 2} Y{printer_max_y / 2} Z10													# Center toolhead so fans move bed heat around better
        M400																								# Wait for the move to complete
        M106 S255																							# Set pcf to 100%
        TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={chamber_temp}						# Wait for chamber to reach 50
        M106 S0																							    # Turn off pcf
  	{% else %}
        RESPOND MSG="Soaking bed for {bed_time / 60} minutes!"
        G4 P{bed_time * 1000}
    {% endif %}

	# Begin homing sequence
    
	G28 PROBE_LOCK																							# Home X and Y axes
	QUAD_GANTRY_LEVEL																						# Level the gantry
	G28	Z 																									# Home all axes after QGL
	BED_MESH_CALIBRATE PROFILE="default"																	# Calibrate default bed mesh (if you are using kamp it will only mesh the print area)

    # Check if probe needs removed before undocking from probe
    
    {% if y_max > safe_y %}
		G90	    																							# Absolute positioning
		G0 X{x_park} Y{y_park} Z{z_park}																	# Present probe for removal if it needs to be removed
		M400																								# Wait for probe to be presented
		Respond MSG="Please remove the probe from toolhead before the print starts in 60 seconds as it will interfere with this print!"
        {% if beep %}
            STbeeplong
        {% endif %}
        G4 P60000																							# Wait 60 seconds before continuing for probe removal
        Query_Probe																							# Verify the probe was removed if it needed removed
        {% if y_max > printer_max_y - safe_y %}
            Print_Start_Cancel
        {% endif %}
	{% else %}
        Dock_Probe_Unlock																					# Undock probe as it doesnt need removed
	{% endif %}
    
    # Smart park near the print before final heat

    SMART_PARK
    
	# Extruder final heat

    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER_TEMP}                         					# Set extruder temp
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP}                            				  	# Wait for extruder to reach target temp

    # Purge

    Voron_Purge

[gcode_macro Print_Start_Cancel]
gcode:

    {% if not printer.probe.last_query %}
        {% if printer["gcode_macro PRINT_START"].beep %}
            STbeepshort
        {% endif %}
        M400
        { action_raise_error("User failed to remove probe! Canceling print to prevent print failure!") }
    {% endif %}

    {% if printer.probe.last_query %}
        { action_respond_info("Probe removed print will now start!") }
    {% endif %}

